# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for data science
- List polupar libraries for Python
- Create a table in a markdown cell in jupyter notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. matplotlib
3. pandas

|data science tools|
|------|
|jupyter notebooks|
|vs code|
|watson studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
print(200/60)

3.3333333333333335

## Author
Benjamin Sahel
@BenjaminDataScience